### Python Functions

In [1]:
x= 1
y= 1 
x+y

2

In [2]:
def add (x,y ):
    return x+y

In [3]:
add(3,5)

8

In [4]:
def add_num (x, y ,z = None):  # 디폴트로 정한 파라미터 값은 가장 뒤에 위치하여야한다. 기존에 선언한 값을 무시하고 덮어 쓸 수 있기때문
    if z == None :
        return x+ y
    else :
        return x + y + z
    
print(add_num(5,5))
print(add_num(5,5,5))

10
15

In [5]:
def add_num (x, y ,z = None , f = False): 
    if f :
        print("f is True")
    if z == None :
        return x+ y
    else :
        return x + y + z
    
print(add_num(5,5,f = True))

f is True
10

### Python Types and Sequences

In [6]:
type("Hi")

str

In [7]:
type(None)

NoneType

In [8]:
type(add_num)

function

In [9]:
type(3.5)

float

In [10]:
x = (1,2,3)
type(x) # immutable

tuple

In [11]:
x_l= [1,2,3]
type(x) # mutable

tuple

In [12]:
for i in x_l :
    print(i)

1
2
3

In [13]:
i = 0
while i != len(x_l) :
    print(x_l[i])
    i = i + 1

1
2
3

In [14]:
s  = "This is str"
print(s[:4])
print(s[0:2])
print(s[-4:])

This
Th
 str

In [15]:
first_n = "A B @ ".split(' ')[0]
last_n = "A B @ ".split(' ')[1]
print(first_n)
print(last_n)

A
B

In [16]:
x = {"A": [1,2,3]} # key, value
type(x)

dict

In [17]:
x = ("A", "B", "@ ")
fname , lname , email = x # unpack은 3개 까지

In [18]:
print(fname)
print(lname)
print(email)

A
B
@

### Python More on Strings

In [20]:
print("ME" + str(2))

ME2

In [19]:
sales = {'price' : 3.5, 
        'num_items' : 4,
        'person' : "me"}

sales_stament = f'{sales["person"]} bouht items{sales["num_items"]} at a price of {sales["price"]}'
sales_stament

'me bouht items4 at a price of 3.5'

### Python Demonstration: Reading and Writing CSV files

In [21]:
import numpy as np
import pandas as pd
import os`

In [33]:
os.chdir('C://Users//my/Desktop//')

In [35]:
import csv

# 소수점 2자리 
%precision 2 


with open('mpg.csv') as df :
    mpg = list(csv.DictReader(df))
    
mpg[:3]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'}]

In [37]:
len(mpg)

234

In [39]:
mpg[0].keys()

dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [40]:
# 평균도시 전 차량의 연비 
sum(float(d['cty']) for d in mpg) / len(mpg) # dict안에 있는 값들은 문자열이기 때문에 실수형으로 변환

16.86

In [41]:
#모든 차량들의 고속도로 연비
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

In [42]:
# 자동차 실린더에 따른 자동차 평균 연비 
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [46]:
cm =  [] 

for c in cylinders :
    summpg = 0
    cyltypecount = 0
    for d in mpg :
        if d['cyl'] == c :
            summpg += float(d['cty'])
            cyltypecount += 1
    cm.append((c, summpg / cyltypecount))

cm.sort(key = lambda x :x [0])
cm

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [48]:
vehicle  = set(d['class'] for d in mpg)
vehicle

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [49]:
byclss = []

for t in vehicle : # iterate ocer all the vehicle classes
    summpg  = 0
    vclasscount = 0
    for d in mpg :
        if d["class"] == t :
            summpg += float(d['hwy'])
            vclasscount += 1 # increment the count 
    byclss.append((t , summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

byclss.sort(key = lambda x :x [0])
byclss

[('2seater', 24.80),
 ('compact', 28.30),
 ('midsize', 27.29),
 ('minivan', 22.36),
 ('pickup', 16.88),
 ('subcompact', 28.14),
 ('suv', 18.13)]

### Python Dates and Times

In [50]:
import datetime as dt       #python 에서는 time 모듈을 사용해서 epoch 시각을 얻을 수 있다.
import time as tm

In [51]:
# from timestamp 함수를 이용해서 날짜 시간 객체에 타임스탬프 생성 
tm.time()

1638323913.93

In [52]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2021, 12, 1, 10, 59, 6, 359755)

In [55]:
dtnow.year , dtnow.month, dtnow.day , dtnow.hour , dtnow.minute , dtnow.second

(2021, 12, 1, 10, 59, 6)

In [56]:
delta = dt.timedelta(days =100)
delta

datetime.timedelta(days=100)

In [57]:
today = dt.date.today()

In [58]:
today - delta

datetime.date(2021, 8, 23)

### Advanced Python Objects, map()

In [63]:
class Person : # class 이름 통상적으로 앞글자 대문자 사용 
    department = 'School of information'
    
    def set_name(self , new_name):  # method 가 호출된 인스턴스에 접근하려면 method 시그니쳐에 self를 포함 시켜야한다.
        self.name = new_name  # 객체의 인스턴스 변수들을 참조하고 싶다면 self. 사용 
    def set_location(self , new_location):
        self.location = new_location

In [66]:
person = Person () # class 사용을 위해 빈 () 생성필요 
person.set_name("Won")
person.set_location("Korea")
print(f'{person.name} live  in {person.location} and work in the deparment {person.department}')

Won live  in Korea and work in the deparment School of information

map 함수는 파이썬 함수형 프로그래밍의 기반요소중 하나, 함수형 프로그래밍은 모든 변수들을 명확히 선언하고 주어진 기능의 주어진 함수의 실행을 통해 변수를 조작가능한 전형적인 프로그래밍 형식

In [67]:
store1 = [10, 11, 12.34 , 5.3]
store2 = [9.00, 11.10, 12.56, 2.01]
cheapest = map(min , store1 ,store2) # 맵함수는 맵객체로 반환 (불러와야지 값 반환,메모리관리 효율적)
cheapest

In [74]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']